h1, h2, .email {
    text-align: center;
}

.bio {
    padding-left: 10%;
    padding-right: 10%;
}

ul li {
    padding: 5px 0px;
    list-style-image: url('bullet.jpg');
}

#ggg {
    padding: 20px;
    text-align: center;
    text-size: 20px;
}

.upgradeDiv {
    border-radius: 5px;
}

#newGroove {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.llamaP {
    padding: 2.5% 7.5% 0 7.5%;
}

code {
    white-space: normal;
    display: inline-block;
    max-width: 100%;
    overflow: auto;
}

#firstButton {
    padding-bottom: 10px;
}
